@font-face {
  font-family: 'Slinging Wake';
  src: url('fonts/SwingingWake-Regular.ttf') format('truetype');
}

body {
    background-color: #11301c;
    color: #eee;
}

h1, h2, a {
    font-family: 'Slinging Wake', serif;
}

header {
    text-align: center;

    h1 {
        
        font-size: 48px;
        margin-bottom: 8px;
        color: #fff;
        text-shadow: 
            0 0 5px #fff200,
            0 0 10px #fff2003a;
    }

    p {
        margin-top: 0
    }
}

a {
    font-family: 'Slinging Wake', serif;
    color: #fff;
    text-shadow: 
        0 0 1px #fff200,
        0 0 10px #fff2003a;
    letter-spacing: 1.5px;
}

main {
    width: min(600px, 90vw);
    margin: auto;

    h2 {
        margin: 0;
        text-shadow: 
            0 0 5px #fff20072;
    }

    img {
        width: 200px;
    }

    .movie {
        display: flex;
        gap: 16px;
        padding: 8px;
        border-radius: 4px;
        background-color: #8080803a;
        margin-bottom: 24px;

        .info {
            display: flex;
            flex-direction: column;
            width: 100%;

            hr {
                width: 100%;
            }

            p {
                margin: 0;
            }

            .desc {
                flex: 1
            }
        }
    }
}

@media (width < 1000px) {
    main img {
        width: min(20vw, 200px);
        min-height: 300px;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
}