main {
    display: flex;
    flex-direction: column;

    .guy {
        align-self: center;
        margin-top: 16px;
        
        img {
            width: 200px;
            filter: var(--drawing);
        }
    }
}