:root {
    --drawing: brightness(0) invert(19%) sepia(93%) saturate(2000%) hue-rotate(125deg);
    font-family: Consolas, -apple-system, BlinkMacSystemFont, monospace;
    image-rendering: pixelated;
}

body {
    background-color: #C7E9C0;
    color: #156937;
    margin: 5vh auto;
    max-width: min(95vw, 800px);
    width: auto;

    a {
        color: inherit
    }
}